body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  left: 30px;
  margin: 0;
  text-align: left;
}

#results {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#results span {
  font-weight: bold;
  color: #007BFF;
}

button {
  padding: 12px 24px;
  font-size: 1.1em;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}
#ping-bar {
  background: #ffffff; /* cyan-400 */
  transition: width 0.3s;
}